// nextflow.config

process {
    withLabel: gotree {
        container = "evolbioinfo/gotree:latest"
    }
    withLabel: treetime {
        container = "evolbioinfo/treetime:v0.8.5"
    }
    withLabel: nextalign {
        container = "nextstrain/nextalign:latest"
    }
    withLabel: iqtree2 {
        container = "staphb/iqtree2:latest"
    }
}

docker {
    enabled = true
    runOptions = "-v $PWD:$PWD"
}